.env
venv
.venv
__pycache__
.vscode
.idea



# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Media files uploaded by users
media/

# Static files
staticfiles/
static/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/